#a{

    background-image:url(img/binding-light.png); 
    border-bottom: 1px solid black;
    margin-top: -2.5%;
  }
 .wele{

  position:absolute;
  top: 370px;
  left: 30%;
  transform: translate(-50%, -50%);
  font-family:'Bubblegum Sans',Old English Text MT;
  color:white;
  font-size: 70px;
}
 
#aboutus{
width: 100%;
margin:auto;
margin-left:;
margin-right:;
box-sizing: ;

}
.mission1{
  margin-top: 3%;
  margin-right: 5%;
  margin-left: 5%;
  padding:20px;
  background-image:url(img/binding-light.png);
 opacity:2;
 text-align: justify;
}
#ourmission
{
 text-align: justify;
 margin:auto;
 padding:20px;
 margin-right: 5%;
 margin-left: 5%;
 margin-top: 3%;
 background-image:url(img/binding-light.png);
 opacity:2;
}
.mission2{
  width: 100%;
  margin:auto;
}
#mission
{ 
  margin:auto;
  width:90%;
}
